<footer>
    <p id="details"><i>Page made by Cosmin Petrescu, Department of Computer Science, University of Bucharest</i><br>e-mail: <a href="mailto:cosmin.petrescu@my.fmi.unibuc.ro">cosmin.petrescu@my.fmi.unibuc.ro</a></p>
</footer>