<!DOCTYPE html>
<html lang="en">
	<head>
		<title>404</title>
		<meta charset="UTF-8">
		<meta name="description" content="Bundesliga Stats Predictions Game">
		<meta name="keywords" content="Bundesliga, Home Page, German, Football">
		<meta name="author" content="Petrescu Cosmin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
		<script src="/scripts/inactivity.js"></script>
	</head>
	<body>
		<%- include("../fragmente/header") %>
		<main>
			<p id="error">ERROR 404</p>
			<img id="fail" src="/images/slip.jpg" alt="Xabi Alonso" title="Xabi Alonso Fail">
		</main>
		<%- include("../fragmente/footer") %>
		
	</body>
</html>