<!DOCTYPE html>
<html lang="en">

<head>
	<title>Predictions</title>
	<meta charset="UTF-8">
	<meta name="description" content="Bundesliga Stats Predictions Game">
	<meta name="keywords" content="Bundesliga, Predictions, German, Football">
	<meta name="author" content="Petrescu Cosmin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
	<script src="/scripts/ejs.min.js"></script>
	<script src="/scripts/leaderboard.js"></script>
	<style>

	</style>
</head>

<body>
	<%- include("../fragmente/header") %>
	<main>
		<h1>Leaderboard - Top 50</h1>
		<div id="leaderboard_div" style="color:white;" class="grid">
			<span>
				<strong>Username</strong>
			</span>
			<span>
				<strong>Name</strong>
			</span>
			<span>
				<strong>Score</strong>
			</span>
			<span>
				<strong>Country</strong>
			</span>
			<span>
				<strong>Team</strong>
			</span>
		</div>
	</main>
	<%- include("../fragmente/footer") %>

</body>

</html>