<!DOCTYPE html>
<html lang="en">

<head>
	<title>Predictions</title>
	<meta charset="UTF-8">
	<meta name="description" content="Bundesliga Stats Predictions Game">
	<meta name="keywords" content="Bundesliga, Predictions, German, Football">
	<meta name="author" content="Petrescu Cosmin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
	<script src="/scripts/ejs.min.js"></script>
	<script src="/scripts/leaderboard.js"></script>
	<style>

	</style>
</head>

<body>
	<%- include("../fragmente/header") %>
	<main>
		<h1>Leaderboard - Top 15</h1>
		<input type="text" id="searchUserName" onkeyup="searchUserName()" placeholder="Search for usernames..">
		<div id="leaderboard_div" style="color:white;" class="grid">
			<span class="col">
				<strong>Nr</strong>
			</span>
			<span class="col col_functional" onclick="orderByUserName()">
				<strong>Username</strong>
			</span>
			<span class="col col_functional" onclick="orderByName()">
				<strong>Name</strong>
			</span>
			<span class="col col_functional" onclick="orderByScore()">
				<strong>Score</strong>
			</span>
			<span class="col">
				<strong>Country</strong>
			</span>
			<span class="col">
				<strong>Team</strong>
			</span>
		</div>
		<ul style="color:white; margin-left:3%;">
			<li class="legend" style="color:white" id="average">Average Score: </li>
			<li class="legend" style="color:white"><span style="color:green">Green</span> - above average</li>
			<li class="legend" style="color:white"><span style="color:orange">Orange</span> - below average</li>
		</ul>

	</main>
	<%- include("../fragmente/footer") %>

</body>

</html>