<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Standings</title>
		<meta charset="UTF-8">
		<meta name="description" content="Bundesliga Stats Predictions Game">
		<meta name="keywords" content="Bundesliga, Predictions, German, Football">
		<meta name="author" content="Petrescu Cosmin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	</head>
	<body>
		<%- include("../fragmente/header") %>
		<main>
			<h1>Login</h1>
		</main>
		<%- include("../fragmente/footer") %>
		<!-- SCRIPT PENTRU FIREBASE -->
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
		 https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>

		<script>
		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey: "AIzaSyDvLctTEKwmEsxHAmhKKKSUPmomKp4Wq9c",
			authDomain: "predictall-450af.firebaseapp.com",
			databaseURL: "https://predictall-450af.firebaseio.com",
			projectId: "predictall-450af",
			storageBucket: "predictall-450af.appspot.com",
			messagingSenderId: "486538731959",
			appId: "1:486538731959:web:23d4e2233e8efe1f4a8832",
			measurementId: "G-KBCCSLSLXJ"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
		</script>
	</body>
</html>