<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Matches</title>
		<meta charset="UTF-8">
		<meta name="description" content="Bundesliga Matches">
		<meta name="keywords" content="Bundesliga, Matches, Matchday, Borussia Dortmund, Bayern Munchen">
		<meta name="author" content="Petrescu Cosmin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/style-matches.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
		<script type="text/javascript">
			let fisier = <%- locals.file %>;
			<% if (locals.id != null) {%>
				let id = <%- locals.id %>
			<%} else {%>
				let id = null;
			<%} %> 
		</script>
		<script type="text/javascript" src="/scripts/matches.js"></script>
	</head>
	<body>
		<%- include("../fragmente/header") %>
		<main>
			<section id="sectiune1">
				<h1>Matches</h1>
				<p>MATCHDAY 26 | SEASON 2019-2020</p>
				<% if(locals.id != null) {%> 
					<div class="matches">
					</div>
				<%} else {%>
					<h2 style="color:red; display: block; float: left; margin-top: 5%; margin-right: 1%;">
					You'll need to log in for this one.</h2> 
				<%} %>
			</section>
		</main>

	</body>
</html>