<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Predictions</title>
		<meta charset="UTF-8">
		<meta name="description" content="Bundesliga Stats Predictions Game">
		<meta name="keywords" content="Bundesliga, Predictions, German, Football">
		<meta name="author" content="Petrescu Cosmin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	</head>
	<body>
		<%- include("../fragmente/header") %>
		<main>
			<h1>Predictions</h1>
			<p>Here you will monitor your predictions and progress.</p>
		</main>
		<%- include("../fragmente/footer") %>
		
	</body>
</html>