<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Standings</title>
		<meta charset="UTF-8">
		<meta name="description" content="Bundesliga Standings">
		<meta name="keywords" content="Bundesliga, Standings, Borussia Dortmund, Bayern Munchen">
		<meta name="author" content="Petrescu Cosmin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	</head>
	<body>
		<%- include("../fragmente/header") %>
		<main>
			<section>
				<h2>Standings</h2>
				<iframe id="iframe-standings" src="https://www.bbc.com/sport/football/german-bundesliga/table"></iframe>
			</section>
		</main>
		<%- include("../fragmente/footer") %>
	</body>
</html>